:root{
    --primary:rgb(16 33 105);
    --secondary:rgb(249 35 77);
    --textDark:rgb(11 27 53);
    --textLight:rgb(109 108 115);
    --bg:rgb(223 236 255);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Own Styles */

html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Noto Sans Display', sans-serif;
}
a{
    text-decoration: none;
}
/* Container */
.container{
    max-width: 1300px;
    width:100%;
    margin:0 auto;
    padding:0 2rem;
}

/* flex */
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.flex-10{
    flex:0 1 10%;
}
.flex-15{
    flex:0 1 15%;
}
.flex-20{
    flex: 0 1 20%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-46{
    flex:0 1 46%;
}
.flex-50{
    flex:0 1 50%;
}
.flex-60{
    flex:0 1 60%;
}
.btn{
    display:inline-block;
    background-color:var(--secondary);
    color:white;
    padding:0.6rem 2rem;
    border-radius: 4px;
    font-size: 1.2rem !important;
    text-transform: capitalize  !important;
}
.text-center{
    text-align: center;
}

/* HEADER */
.header{
    padding:1.5rem 0;
    position: absolute;
    width:100%;
}
.header span{
    font-size: 1.8rem;
    font-weight: 900;
    color:white;
}
.nav .nav-items{
    margin-left: 2rem;
}
.nav-items a {
    color:rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
}
#toggle,.bars {
    display: none;
}

/* Hero-Section */
.hero{
    height: 100vh;
    background:linear-gradient(rgba(16, 32, 105, 0.685),rgba(16, 32, 105, 0.699)), url(assets/media/banner.png) no-repeat;
    padding-top: 8rem;
    background-size: cover;
}
.hero h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color:white;
    margin-bottom: 1.2rem;
}
.hero span{
    color:var(--secondary)
}
.hero p {
    font-weight: 500;
    color:white;
    margin-bottom: 1.2rem;
}

 /* About section */
.about{
    padding: 3.3rem 0;
}
.about h2 {
    font-size: 2.3rem;
    font-weight: 900;
    color:var(--textDark);
    margin-bottom: 1.2rem;
    text-transform: uppercase;;
}
.about p {
    font-weight: 500;
    color:var(--textLight);
    margin-bottom: 1.2rem;
}

/* Join Section */

 .join{
    padding: 3.3rem 0;
    background-color: var(--bg);
    position: relative;
}
.join h2 {
    font-size: 2.3rem;
    font-weight: 900;
    color:var(--textDark);
    margin-bottom: 3.8rem;
    text-transform: capitalize;
    text-align: center;
}
.border{
    border:2px dashed red;
    height:200px;
}
.no-1{
    position: absolute;
    top:8.7rem;
    left:4.938rem;
    background-color: var(--bg);
    padding:0 8px;
    color:var(--secondary);
    font-size: 2rem;
    font-weight: 900;
}
.no-2{
    position: absolute;
    top:8.7rem;
    left:32rem;
    background-color: var(--bg);
    padding: 0 8px;
    color:var(--secondary);
    font-size: 2rem;
    font-weight: 900;
}
.no-3{
    position: absolute;
    top:8.7rem;
    right:366px;
    background-color: var(--bg);
    padding:0 8px;
    color:var(--secondary);
    font-size: 2rem;
    font-weight: 900;
}
.join .article{
    padding:1.1rem .9rem;
}
.join h3 {
    font-size: 1.8rem;
    font-weight: 700;
    color:var(--textDark);
    margin-bottom: 0.4rem;
    text-transform: capitalize;
} 


/* Schedule-Section */

.schedule{
    padding:4rem 0;
}
.schedule h2 {
    font-size: 2.3rem;
    font-weight: 900;
    color:var(--textDark);
    margin-bottom: 3.8rem;
    text-transform: capitalize;
    text-align: center;
}
.schedule-date{
    width:8rem;
    height:8rem;
    font-size: 1.5rem;
    font-weight:900;
    background-color: var(--secondary);
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
}
.schedule-date-last{
    width:8rem;
    height:8rem;
    font-size: 1.5rem;
    font-weight:900;
    background-color: var(--secondary);
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
}
.schedule-date::before{
    content:"";
    height:4rem;
    border-right:2px dashed var(--secondary);
    position:absolute;
    left:50%;
    top:100%;
}
.schedule-date,.schedule-date-last{
    background-color: white;
    border:2px dashed var(--secondary)
}
.schedule-items .active{
    background-color: var(--secondary) !important;
}
.schedule h3 {
    font-size: 1.8rem;
    font-weight: 700;
    color:var(--textDark);
    margin-bottom: 0.4rem;
    text-transform: capitalize;
} 
.schedule p {
    font-size:1.2rem;
}
.schedule img {
    border-radius: 0.5rem;
}
.schedule-items {
    margin-bottom: 4rem;
}

/* Speakers Section */
.speakers{
    padding:3rem 0;
    background-color: var(--bg);
}
.speakers .col{
    padding:1.7rem 0;
}
.speakers h3{
    font-size:1.8rem;
    font-weight: 700;
    margin:0.5rem 0;
    color:var(--textDark)
}
.speakers h4{
    color: var(--textDark);
}
.speakers .active{
    background-color: var(--secondary);
    border-radius: 0.3rem;
}
.speakers .active h3, .speakers .active h4{
    color: white ;
}

/* Video */
.vdo{
    padding:2rem 0;
}
.iframe-container{
    height:0;
    padding-bottom: 56.25%;
    width:100%;
    position: relative;
}
.vdo iframe{
    border-radius: 10px;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    height:100%;
    width:100%;
}

/* News SEction */
.news{
    padding:5rem 0;
    background-color: var(--bg); 
}
.news h2 {
    font-size: 2.3rem;
    font-weight: 900;
    color:var(--textDark);
    margin-bottom: 3.8rem;
    text-transform: capitalize;
}
.news h4{
    font-size:1.4rem;
    font-weight: 900;
    margin:0.5rem 0;
    color:var(--textDark)
}
.news p {
    color:var(--textLight);
}
.news-btn{
    text-decoration:underline;
    color:var(--textDark);
    display: inline-block;
    margin-top: 1.4rem;
    font-size: 1.4rem;
}
.news .active{
    color: var(--secondary);
}

/* Footer */
.contact{
    padding:3rem 0;
    background-color: var(--primary);
}
.contact h4 {
    color:white;
    font-weight: 700;
    margin:0.5rem 0;
    font-size:1.5rem;
}
.contact a {
    color: var(--textLight);
    margin-right: 1.2rem;
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}
.follow a {
    color:rgb(180, 174, 174);
    font-size: 1.5rem;
}

/* Footer */
.footer{
    padding:2rem 0;
    background-color: var(--textDark);
}
small{
    color:rgb(180, 174, 174);
    font-size: 1.2rem;
}


/* Media Queries */
@media  screen and (max-width:1200px){
    .contaienr{
        max-width:1020px;
    }
}
@media  screen and (max-width:1040px){
    .contaienr{
        max-width:1120px;
    }
    .hero{
        height:40vh;
    }
}
@media screen and (max-width:992px){
    html{
        font-size:14px;
    }
    .container{
        max-width:960px;
    }
}
@media screen and (max-width:768px){
    html{
        font-size:12px;
    }
    .container{
        max-width:700px;
    }
    .sm-column{
        flex-direction:column;
    }
    .sm-flex-100{
        flex:0 1 100%;
        margin:2rem 0;
    }
    .sm-wrap{
        flex-wrap: wrap;
    }
    .order-1{
        order: 1;
    }
    .sm-text-center{
        text-align: center;
    }
    .sm-flex{
        display:flex;
    }
    .sm-justify-center{
        justify-content: center;
    }
    .sm-justify-between{
        justify-content: space-between;
    }
    .sm-align-center{
        align-items:center
    }
 
    /* nav-bar */
    .header{
        background-color: rgba(16, 32, 105, 0.842);
        height:70px;
        position: fixed;
    }
    .nav {
        display:none;
        position: fixed;
        z-index:99;
        top:0;
        left:0;
        right:0;
        height:100vh;
        background-color: rgba(16, 32, 105, 0.836);
        padding: 10rem 0;
    }
    .nav-items{
        margin-bottom:2rem;
    }
    #toggle:checked ~ .nav{
        display:inline-block;
    }
    .bars{
        font-size: 2rem;
        color:white;
        display: inline-block;
    }
    .brand,.bars{
        position:fixed;
        top:1.5rem;
        z-index: 999;
    }
    .brand{
        left:2rem;
    }
    .bars{
        right:2rem;
    }
    /* hero */
    .hero{
        height: auto;
        padding:8rem 0 4rem 0;
    }
    .hero img {
        max-height:500px;
        object-fit: cover;
        border-top-left-radius:4rem ;
        border-bottom-right-radius:4rem ;
    }
    /* Schedule */
    .schedule-date,.schedule-date-last{
        height: 0;
        width:0;
        border-radius: 0;
        border:0;
        color:var(--secondary);
        text-align:center;
    }
    .schedule-items{
        box-shadow: 0 0 7px rgb(51, 50, 50);
        padding:1rem 1.7rem;
        border-radius: 0.4rem;
    }
    .schedule-date::before{
        display: none;
    }
    .schedule img{
        max-height:250px;
        object-fit: cover;
    }
    /* news  */
    .news img {
        height:180px;
        object-fit: cover;
        border-radius:4px;
    }
    /* speakers */
    .speakers .col{
        padding: 1.2rem 1rem;
    }
}
@media screen and (max-width:576px){
    html{
        font-size: 10px;
    }
    .contaienr{
        max-width:550px;
    }
}